<h1>Popular Resources</h1>
<!-- <h3>Here are some resources to help you get started:</h3> -->

<div class="card-container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Oblique Docs</mat-card-title>
		</mat-card-header>
		<mat-card-content>The official documentation with information on the components, services and guidelines of Oblique.</mat-card-content>
		<mat-card-actions>
			<a href="https://oblique.bit.admin.ch" mat-button obButton="primary">Oblique Docs</a>
		</mat-card-actions>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Changelog</mat-card-title>
		</mat-card-header>
		<mat-card-content
			>Want to know more about the latest changes in Oblique? Check out the changelog for more information.</mat-card-content
		>
		<mat-card-actions>
			<a href="https://github.com/oblique-bit/oblique/blob/master/CHANGELOG.md" mat-button obButton="primary">Changelog</a>
		</mat-card-actions>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Sources</mat-card-title>
		</mat-card-header>
		<mat-card-content>Oblique is available on GitHub and NPM.</mat-card-content>
		<mat-card-actions>
			<a href="https://github.com/oblique-bit/oblique" mat-button obButton="primary">GitHub</a>
			<a href="https://www.npmjs.com/package/@oblique/oblique" mat-button obButton="primary">NPM</a>
		</mat-card-actions>
	</mat-card>
</div>
